absl-py==0.9.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
aiomysql==0.0.21
aiosqlite==0.16.1
alabaster==0.7.12
anyio==3.2.1
apipkg==1.5
appdirs==1.4.3
APScheduler==3.6.3
apturl==0.5.2
argon2-cffi==20.1.0
asgiref==3.3.4
astroid==2.5.2
astunparse==1.6.3
async-generator==1.10
async-lru==1.0.2
async-timeout==3.0.1
asyncmy==0.1.7
asyncpg==0.23.0
attrs==20.3.0
autocommand==2.2.1
Babel==2.9.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bidict==0.21.2
binwalk==2.2.1
bleach==3.3.0
blinker==1.4
bottle==0.12.19
bottle-websocket==0.2.9
Brotli==1.0.7
cachetools==4.2.2
catfish==1.4.13
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
class-registry==2.1.2
Click==7.0
clients==1.3
colorama==0.4.3
command-not-found==0.3
contextlib2==0.6.0.post1
cryptography==2.8
cssselect==1.1.0
cssutils==2.2.0
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==5.0.5
defer==1.0.6
defusedxml==0.7.1
demjson==2.2.4
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.2.4
django-validators==1.0.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
docx==0.2.4
Eel==0.14.0
entrypoints==0.3
eventlet==0.31.0
exception==0.1.0
execnet==1.8.0
filelock==3.0.12
filters==1.3.2
Flask==1.1.1
Flask-SocketIO==5.1.0
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gevent==21.1.2
gevent-websocket==0.10.1
google-api-python-client==1.7.12
google-auth==1.29.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==4.0.0rc1
gpytranslate==1.2.0
greenlet==1.1.0
grpcio==1.32.0
gunicorn==20.1.0
h11==0.9.0
h2==3.1.1
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.0.1
httpcore==0.9.1
httplib2==0.19.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.8
imagesize==1.2.0
impacket==0.9.20
importlib-metadata==1.5.0
imutils==0.5.4
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
iso8601==0.1.14
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jtutils==0.0.8
jupyter==1.0.0
jupyter-client==6.1.13
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.5.1
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
kaitaistruct==0.8
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
knockpy==5.1.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.6.0
ldap3==2.4.1
leven==1.0.4
lightdm-gtk-greeter-settings==1.2.2
livereload==2.6.3
lxml==4.5.0
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
meld==3.20.2
menulibre==2.2.1
mistune==0.8.4
mitmproxy==4.0.4
mock==4.0.3
more-itertools==4.2.0
mugshot==0.4.2
multidict==5.1.0
mutagen==1.44.0
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.3.0
num2words==0.5.10
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
paramiko==2.6.0
parso==0.8.2
passlib==1.7.2
path==15.1.2
path.py==12.5.0
pefile==2019.4.18
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.0
pip-run==8.4.2
pluggy==0.13.1
premailer==3.8.0
prettytable==0.7.2
primesieve==2.3.0
prometheus-client==0.10.0
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.5.1
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
py-multiapi==17
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.8.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.4
pymacaroons==0.13.0
PyMySQL==0.9.3
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pypandoc==1.5
pyparsing==2.4.7
pyperclip==1.7.0
pypika-tortoise==0.1.1
PyQRCode==1.2.1
PyQt5==5.14.1
pyqtgraph==0.11.0rc0
Pyrogram==1.2.9
pyrsistent==0.17.3
pyshorteners==1.0.1
PySocks==1.7.1
pytesseract==0.3.8
pytest==6.2.3
pytest-shutil==1.7.0
python-apt==2.0.0+ubuntu0.20.4.5
python-csv==0.0.13
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-decouple==3.4
python-dotenv==0.17.1
python-engineio==4.2.0
python-magic==0.4.16
python-socketio==5.3.0
python-telegram-bot==13.7
pytz==2021.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.3
qrcode==6.1
qtconsole==5.0.3
QtPy==1.9.0
regex==2021.4.4
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.15.89
scapy==2.4.3
scipy==1.3.3
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==4.0.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.3.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.23
sqlparse==0.4.1
ssh-import-id==5.10
subprocess.run==0.0.8
telepot==12.7
Telethon==1.22.0
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
TgCrypto==1.2.2
tld==0.9.1
toml==0.10.2
tornado==6.1
tortoise-orm==0.17.4
tqdm==4.60.0
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.8
urwid==2.0.1
usb-creator==0.3.7
vinetto==0.8.0
virtualenv==20.0.17
wadllib==1.3.3
wapiti3==3.0.3
warn==0.1.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wifite==2.5.2
win-inet-pton==1.1.0
wrapt==1.12.1
wsproto==0.15.0
xkit==0.0.0
xlrd==2.0.1
xmltodict==0.12.0
yagmail==0.14.247
yarl==1.6.3
yaswfp==0.9.3
zim==0.72.0
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
